.carousel {
    .slide {
        background: none;

        @media screen and(max-width: 768px) {
            p {
                font-size: 18px;
            }

            small {
                font-size: 14px;
            }
        }
    }

    .control-dots {
        bottom: -20px;

        .dot {
            background: rgba(33, 147, 208, 0.3);

            &:hover,
            &:focus,
            &.selected {
                outline: none;
            }
        }
    }
}
