.hero:after {
    animation: shine ease-in 2s 3 reverse;
    animation-fill-mode: forwards;
    content: '';
    background: url('../../../assets/shining.png') no-repeat;
    position: absolute;
    top: -5px;
    right: 50%;
    margin-right: -555px;
    width: 150px;
    height: 150px;
    opacity: 0;
    transform: rotate(30deg);
}

.hero:active:after {
    opacity: 0;
}

/* keyframes */
@keyframes shine {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5) rotate(0deg);
        transform: scale(0.5) rotate(0deg);
    }
    70% {
        opacity: 0.5;
        -webkit-transform: scale(1.5) rotate(360deg);
        transform: scale(1.5) rotate(360deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.1) rotate(0deg);
        transform: scale(0.1) rotate(0deg);
    }
}

@media screen and (max-width: 1024px) {
    .hero {
        background-position: center right 25%;

        &:after {
            display: none;
        }
    }
}

@media screen and (max-width: 768px) {
    .hero {
        background-position: center right 100%;
        display: flex;
        align-items: center;
    }
}
