body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
ul,
ol,
li {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

h2 {
    color: #314a57;
    font-size: 24px;
    line-height: 1.5;
    padding-bottom: 17px;
    margin-bottom: 40px;
    text-align: center;
    position: relative;
    display: inline-block;
    border-bottom: 3px solid rgba(33, 147, 208, 0.3);

    &:before {
        content: '';
        width: 47px;
        height: 47px;
        background: #fff;
        display: inline-block;
        position: absolute;
        left: 50%;
        bottom: -25px;
        margin-left: -22px;
    }

    &:after {
        content: '';
        background: url('./assets/icon-headings.png') center center no-repeat;
        background-size: 35px;
        width: 35px;
        height: 35px;
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -17px;
    }
}

h3 {
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 15px;
}

p,
ul,
ol {
    margin-bottom: 20px;
}

ul {
    list-style-position: inside;

    &:not(.bullet) {
        list-style: none;
    }

    &.bullet {
        li:not(:last-child) {
            margin-bottom: 7px;
        }
    }
}

a {
    text-decoration: none;
    color: #79c150;
}

img {
    max-width: 100%;
}

/* Forms */
.form-row {
    width: 100%;
    margin: 0 auto 30px;
    position: relative;
}

.form-field {
    display: block;
    width: 100%;
    border: 1px solid rgba(33, 147, 208, 0.3);
    background: rgba(255, 255, 255, 0.7);
    padding: 5px 12px;
    box-sizing: border-box;
    text-align: left;

    label {
        display: block;
        font-size: 12px;
        color: rgba(33, 147, 208, 0.7);
    }

    input {
        width: 100%;
        color: #545454;
        font-size: 14px;
        border: 0;
        background: none;
        padding: 5px 0;
        box-sizing: border-box;
        background-color: -internal-light-dark- rgba(255, 255, 255, 0) !important;
        background-color: rgba(255, 255, 255, 0) !important;

        &:-internal-autofill-selected {
            background-color: -internal-light-dark- rgba(255, 255, 255, 0) !important;
            background-color: rgba(255, 255, 255, 0) !important;
            color: #545454 !important;
        }

        &:focus {
            outline: none;
        }
    }
}

.error {
    position: absolute;
    font-size: 12px;
    line-height: 1.1;
    color: #dd102b;
    background: rgba(255, 255, 255, 0.7);
    padding: 5px;
}

.cta-btn {
    min-width: 120px;
    background: #3d7e17;
    color: #fff;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    padding: 10px 20px;
    display: inline-block;
    border: 0;
    border-radius: 25px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    transition: all 300ms linear;

    &:hover,
    &:focus {
        background: #1e5300;
    }

    &[disabled] {
        background: #87c067;
    }
}

.primary-button {
    min-width: 80px;
    background: #74b4c4;
    color: #fff;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    padding: 5px 10px;
    display: inline-block;
    border: 0;
    border-radius: 5px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    transition: all 300ms linear;

    &:hover,
    &:focus {
        background: #538f9e;
    }

    &[disabled] {
        background: #a1b9be;
    }
}

#app {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #314a57;
    font-size: 16px;
    line-height: 1.4;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    text-align: center;
}

/* Grid */
.grid-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    text-align: left;
}

.grid-full {
    width: calc(100% - 30px);
    flex-basis: calc(100% - 30px);
    margin: 0 15px;
}

.grid-half {
    width: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
    margin: 0 15px;
}

.grid-main {
    width: calc(66.6667% - 30px);
    flex-basis: calc(66.6667% - 30px);
    margin: 0 15px;
}

.grid-aside {
    width: calc(33.333% - 30px);
    flex-basis: calc(33.333% - 30px);
    margin: 0 15px;
}

.grid-small {
    width: calc(25% - 30px);
    flex-basis: calc(25% - 30px);
    margin: 0 15px;
}

/* Responsive */
@media screen and (max-width: 960px) {
    .grid-small {
        width: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    }
}

@media screen and (max-width: 768px) {
    .grid-aside {
        width: calc(100% - 30px);
        flex-basis: calc(100% - 30px);
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 640px) {
    .grid-half,
    .grid-small {
        width: calc(100% - 30px);
        flex-basis: calc(100% - 30px);
        margin-bottom: 30px;
    }

    .primary-button {
        min-width: 45px;
    }
}
